{%load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizzas</title>
  <style>
    .middle {
      text-align: center;
    }

    .flex {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
    }

    .link {
      text-decoration: none;
      color: white;
    }
  </style>
</head>

{% include 'components/navbar.html' %}

<body class="bg-dark text-light">
  {% if cart %}
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope=" col">#</th>
        <th scope="col">Pizza</th>
        <th scope="col">Preço Unidade</th>
        <th scope="col" class="flex">Quantidade</th>
        <th scope="col">Preço Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{ item.product.name }}</td>
        <td>R$ {{ item.product.price }}</td>
        <td class="flex">
          <a class="link" href=""><i class="bi bi-patch-minus"></i></a>
          <span>
            {{ item.quantity }}
          </span>
          <a class="link" href=""><i class="bi bi-patch-plus"></i></a>
        </td>
        <td>R$ {{item.total_price}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="middle">
    <span>R$ {{total}}</span>
  </div>
  <div class="middle">
    <a class="btn btn-warning" href="#" role="button">Finalizar Pedido</a>
  </div>
  {% else %}
  <h2>🛒 Carrinho Vazio!</h2>
  {% endif %}
</body>