{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
{% include 'components/bootstrap.html' %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizzaria do DCC - Login</title>
</head>


<body>

  <h2>Login</h2>
  {% if error %}
  <p class="error"><b>{{error}}</b></p>
  {% endif %}
  <form action="/cliente" method="post">
    {% csrf_token %}
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome"><br>
    <label for="sobrenome">Sobrenome:</label><br>
    <input type="text" id="sobrenome" name="sobrenome"><br><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>
    <label for="senha">Senha:</label><br>
    <input type="password" id="senha" name="senha"><br><br>
    <input id="submit" type="submit" value="Submit">
  </form>
  <br>
  <button type="submit" class="btn btn-primary">Cadastre-se</button>

</body>

</html>

