{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
{% include 'components/bootstrap.html' %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizzaria do DCC - Login</title>
</head>


<body>

  <h2>Login</h2>
  {% if error %}
  <p class="error"><b>{{error}}</b></p>
  {% endif %}
  <form action="/cliente" method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nome</label>
        <input class="form-control" placeholder="Nome">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Sobrenome</label>
        <input  class="form-control" placeholder="Sobrenome">
      </div>
    </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Senha</label>
          <input type="password" class="form-control" placeholder="Senha">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Cadastre-se</button>
    </form>

</body>

</html>

